@import url("https://fonts.googleapis.com/css2?family=Georama+SemiExpanded:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("./IMAGES/Splash.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.logo {
  padding: 305px 503px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  color: white;
}

.logo svg {
  width: 296px;
  height: 67px;
}

h2 {
  color: #fff;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom {
  font-family: "Lato", sans-serif;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-span {
  width: 300px;
  height: 1px;
}

.custom-span svg {
  animation: scaling 2s ease-out infinite;
}

@keyframes scaling {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*-------------------------- Welcome Page-------------------------- */

.background-container_welcome {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-image-1_welcome {
  background-image: url("./IMAGES/back-img-1.png");
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
}
.logo-welcome img {
  width: 163px;
  height: 37px;
  padding-top: 22px;
  padding-left: 29px;
}
.box-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .item-container {
 
} */
.text-head {
  color: white;
  width: 435px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.text-head h4 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-head h3 {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #4a505e;
  color: white;
  width: 195px;
  height: 121px;
}
.left img {
  width: 56px;
  height: 56px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4a505e;
  color: white;
  width: 195px;
  height: 121px;
}
.right img {
  width: 56px;
  height: 56px;
}
.text h4 {
  color: #545454;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  text-align: start;
}
.items {
  display: flex;
  gap: 20px;
}
.item-container {
  margin-top: 18px;
  width: 435px;
  height: 219px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.background-image-2_welcome {
  background-image: url("./IMAGES/back-img-2.png");
  background-size: cover;
  background-position: center;
  width: 50vw;
  height: 100vh;
  color: white;
}

.trending {
  padding: 40px;
  overflow: hidden;
}

.trending h2 {
  /* padding: 46px 488px 686px 40px; */
  color: #0b0b0c;
  font-family: "Georama", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
}

.trending .image img {
  border-radius: 10px;
}

.trending .image {
  margin-top: 46px;
  max-height: calc(100vh - 90px);
  overflow: hidden;
  display: block;
}

/* ---------------------------------------------------Login page --------------------------------------------------- */

/* .login-container {
  width: 440px;
  height: 460px;
  margin-left: 280px;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  width: 350px;

  border-radius: 8px;
  opacity: 0.95;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background: #4A505E;
    color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  opacity: 0.9;
}

.form-group {
  margin-bottom: 15px;
}

.hide-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.captcha-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.captcha-input {
  width: 65%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.captcha-refresh {
  font-size: 20px;
  cursor: pointer;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  color: #333;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}  */
